<html>
<head>   {% load staticfiles %} {% load bootstrap3 %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static "bootstrap.min.css" %}">
  <script src="{% static "jquery.min.js" %}"></script>
  <script src="{% static "bootstrap.min.js" %}"></script>

  <meta charset="utf-8">

   <link rel="stylesheet" href="{% static "jquery-ui.css" %}">
  <script src="{% static "jquery-ui.js" %}"></script>
  <script src="{% static "jquery-1.10.2.js" %}"></script>

</head>
</head>  
<body>
<nav class="navbar navbar-inverse navbar-fixed-top" >
  
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <strong><a class="navbar-brand" href="{%url 'myapp:index'%}"><font color='lime'>Online Food Ordering</font></a></strong>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="{%url 'myapp:index' %}">Home</a></li>
        <li><a href="{%url 'myapp:all_restaurants'%}">All Restaurants</a></li>
        {%if user.is_authenticated%}
        <li><a href="{%url 'myapp:order' %}">Submit Your order</a></li>
        {%endif%}
      </ul>

      <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated %}
        <li><a ><font color='lime'>[{{user.username}}]</font></a></li>
        <li><a href="{%url 'logout'%}"><span class="glyphicon glyphicon-user"></span> <font color='red'>Logout</font></a></li>
        {%else%}
        <li><a id="login" href="#popUpWindow1" data-toggle="modal"><span class="glyphicon glyphicon-user"></span> Login</a></li>
        <li><a id="register" href="#popUpWindow2" data-toggle="modal"><span class="glyphicon glyphicon-user"></span> Register</a></li>
        {%endif%}
      </ul>
    </div>
    </div>
</nav>
<div class="modal fade" id="popUpWindow1">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- header -->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title">Log In</h3>
                </div>

                <!-- body (form) -->
                <div class="modal-body">
                    
                        <div class="form-group">
                            <input id="username" name="username" type="text" class="form-control" placeholder="Username">
                        </div>
                        <div class="form-group">
                            <input id="password" name="password" type="password" class="form-control" placeholder="Password">
                        </div>
                        <div class="alert alert-danger" style="display:none;" id="show_error">
                        <strong>Invalid Username/Password!</strong> 
                        </div>
                    
                </div>

                <!-- button -->
                <div class="modal-footer">
                    <button id="submit_button" class="btn btn-primary btn-block">Submit</button>
                </div>
            </div>
        </div>
    </div>  
<div class="modal fade" id="popUpWindow2">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- header -->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title">Register</h3>
                </div>
                <!-- body (form) -->
                <div class="modal-body">
                    {%if category_name%}
                    <form action="{%url 'myapp:food_category' category_name%}" method="POST">
                    {%else%}
                    <form action="{%url 'myapp:index'%}" method="POST">
                    {%endif%}
                         {% csrf_token %}
                           
                          {% for field in registration_form %}
                              <div class="form-group">
  
                                {% bootstrap_field field %}
                            
                                      <!--{% for error  in field.errors %}
                                      <!-- Output error text message only -->

                                       <!--   {{error}}
                                      {% endfor %} -->
                                </div>
                          {% endfor %}
                        <button name="registerButton" id="submit_button" class="btn btn-primary btn-block">Submit</button>
                      </form>
                </div>

                <!-- button -->
                <div class="modal-footer">
                    
                </div>
            </div>
    </div>
</div>  
<br><br>
<br>
<div>
    {%if food_name%}
    <div class=" alert alert-info" style="text-align:center;font-size:1.5em;"> 
    Search result for <strong>{{food_name}}</strong> with Food Category <strong> {{category_name}}</strong>
    {% elif category_name %}
    <div class=" alert alert-info" style="text-align:center;font-size:1.5em;"> 
    Food Category <strong> {{category_name}}</strong>
    </div>

    {%else%}
    <div class=" alert alert-info" style="text-align:center;font-size:1.5em;"> 
    Foods with price between <strong>{{price1}}</strong> and 
    <strong>  {{price2}}</strong>
    </div>
    {%endif%}

</div >
<div id="login_error" style="display:none;">

    <div class="alert alert-danger" style="text-align:center;font-size:1em;"> 
        <button type="button" class="close alert-close">&times;</button>
            Please login First!
    </div>
</div>

<div class='container'>
    <div class='well'>
    <div class='row'>
      
    {%for food in foods%}   
        {%if food %}
        <div class='col-md-4'>
        <div class="well" id="menu{{forloop.counter}}">
                <p align='center' > <strong> {{food.1}} </strong>  </p>
                Price:<strong> {{food.2}}</strong><br>
                Rating:<div id="rating{{forloop.counter}}"> <strong> {{food.3}}</strong></div> <br>
                Restaurant Name:<a href="{%url 'myapp:menu_list' food.0 %}" > <strong> {{food.4}}</strong><br></a>
                Address:<strong>{{food.5}}</strong><br>
                <meta name="menu_id{{forloop.counter}}" content="{{food.6}}" />
                <meta name="branch_id{{forloop.counter}}" content="{{food.0}}" />
                <meta name="amount{{forloop.counter}}" content="{{food.7}}" />
                <br>
                Give rating:
                <select align='left' class="dropdown" id="dropdown{{forloop.counter}}">
                    <option value='1'>1</option>
                    <option value='2'>2</option>
                    <option value='3'>3</option>
                    <option value='4'>4</option>
                    <option value='5'>5</option>
                    <option value='6'>6</option>
                    <option value='7'>7</option>
                    <option value='8'>8</option>
                    <option value='9'>9</option>
                    <option value='10'>10</option>
                </select> 
                <button class="btn btn-success btn-xs" type="submit" id="{{forloop.counter}}">submit</button> </p>
            Enter amount(Between 1 and {{food.7}}) <br>
            <input class='form-control' size="10" type="number" id="amount{{forloop.counter}}" >
            <p align='center'> <button type="submit" class="btn btn-success" id="order{{forloop.counter}}" value="{{forloop.counter}}">Add to Cart</button> </p>

        </div>
        </div>
        {%endif%}
    {%endfor%}
     </div>
    </div>

    <ul class="pagination">
        {%if food_name%}
        <li><a href="/myapp/search all foods/{{food_name}}/food_category/{{category_name}}/page/1"> << 
        </a></li>
        {%else%}
        <li><a href="/myapp/food_category/{{category_name}}/page/1"> << </a></li>
        {%endif%}

        {% for i in pagination_list%}
        {% ifequal i pagination %}
            {%if food_name%}
           <li><a href="/myapp/search all foods/{{food_name}}/food_category/{{category_name}}/page/{{i}}"> {{i}} </a></li>
            {%else%}
            <li class="active"><a href="/myapp/food_category/{{category_name}}/page/{{i}}">{{i}}</a></li>
            {%endif%}

        {% else %}
            {%if food_name%}
           <li><a href="/myapp/search all foods/{{food_name}}/food_category/{{category_name}}/page/{{i}}"> {{i}} </a></li>
            {%else%}
            <li class="active"><a href="/myapp/food_category/{{category_name}}/page/{{i}}">{{i}}</a></li>
            {%endif%}
        {%endifequal%}
        {%endfor%}
       {%if food_name%}
        <li><a href="/myapp/search all foods/{{food_name}}/food_category/{{category_name}}/page/{{pagination_num}}"> << 
        </a></li>
        {%else%}
        <li><a href="/myapp/food_category/{{category_name}}/page/{{pagination_num}}"> << </a></li>
        {%endif%}
    </ul>
</div>
<script>
    $(document).ready(function()
    {
        jQuery.noConflict(); 
          
        {% if registration_form.errors %}  
        $("#popUpWindow2").modal("show");
         {%endif %}
        $(document).on('click', '.alert-close', function() {
            document.getElementById("login_error").style.display='none';
           });

          $("#submit_button").click(function(event){
 
            $.ajax({
              type:"POST",
              url:"{%url 'auth' %}",

              data: {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                username:document.getElementById('username').value,
                password:document.getElementById('password').value,
              },
              success : function(json) {
                if (json.login=='success')
                {
                    window.location.href = '';
                }
                else{
                  document.getElementById('show_error').style.display='inline';
                }
              },
            });
          });


        $('.btn-success').click(function(event){
            if (this.id[0]=='o')
            {
                //alert("order!");
                var id=this.id;
                 $.ajax({
                type:"GET",
                url:"{%url 'myapp:login_varify' %}",

                success : function(json) {
                    
                    var counter=document.getElementById(id).value;
                    var amount=document.getElementById("amount"+counter).value;
                    if (json.login=='success')
                    {

                        var amount1="meta[name='amount"+counter+"']";
                        amount1=$(amount1).attr('content');
                        console.log(amount);
                        console.log(amount1);
                        console.log(amount1-amount);
                        if ( amount1-amount<0 || amount<1)
                        {
                            alert("Enter valid amount");

                        }
                        else
                        {
                            //console.log(counter);
                            var menu_id="meta[name='menu_id"+counter+"']";
                            var food_id=$(menu_id).attr('content');

                            
                                    //console.log(e);
                            $.ajax({
                            type: "POST",
                            url: "{% url 'myapp:add_order' %}",

                            data: {
                                csrfmiddlewaretoken: '{{ csrf_token }}',
                                amount:amount,
                                menu_id:$(menu_id).attr('content')
                            },
                            success : function(json) {
                                    alert("Successfully added to your order.You can submit your order or add more foods to your order.");   
                                
                            },
                            error: function(data) {
                                alert("Error in ordering food!Please reload the page and try again")
                            }
                            });

                        
                            //console.log(food_id);
                            //window.location.href = "order/"+food_id;
                        }
                    }
                    else
                    {
                        $('#login_error').css("display","inline");
                    }

                },
                });
            }
            else
            {
                var id=this.id;
                var dropdown_id='#dropdown'+this.id;
                var menu_id="meta[name='menu_id"+this.id+"']";
                var e = $(dropdown_id).val();
                $.ajax({
                type:"GET",
                url:"{%url 'myapp:login_varify' %}",

                success : function(json) {
                    if (json.login=='success')
                    {
                        //console.log(e);
                        $.ajax({
                        type: "POST",
                        url: "{% url 'myapp:submit_rating' %}",
                        data: {
                            csrfmiddlewaretoken: '{{ csrf_token }}',
                            value:e,
                            menu_id:$(menu_id).attr('content')
                        },
                        success : function(json) {
                            alert("Rating Submitted Successfully!");
                            var rating=json.rating;
                            console.log(rating);
                            var rating_div="#rating"+id;
                            console.log(rating_div);
                            $(rating_div).html("<strong>"+rating+"</strong>");

                        },
                        error: function(data) {
                            alert("Error submitting rating!");
                        }
                        });

                    }
                    else 
                    {
                        document.getElementById("login_error").style.display='inline';
                    }
                    console.log(json.login);
                    
                    //$("#entire_page").dialog();
                    //console.log("success");
                },
                error: function(data) {
                    //alert("Please Login First")
                }
                });
            }
        });
        
    });
</script>
</body>
</html>