<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
</head>
<body>

<div id="shell">
	
	
	<div id="header">
		<h1><a href="#">Admin Site</a></h1>
		<div class="right">
			<p>Welcome <strong><font color='white'>Administrator</font></strong></a></p>
			<p><a href=""><strong>Log Out</strong></a></p>
		</div>
	</div>
	
	<div id="navigation">
		<ul>
		    <li><a href=""><span>Employees</span></a></li>
		    <li><a href=""><span>Insert Restaurant</span></a></li>
		    <li><a href="admin_base.html"><span>Insert Food</span></a></li>
		    <li><a href="generated_report.html"  class="active"><span>Generate Report</span></a></li>
		    <li><a href="index.html"><span>View as a Customer</span></a></li>
		</ul>
	</div>
	<div class="message thank-message">
		<p><strong>Overall Report : April 12,2016</strong></p>
	</div>
	
	
	<div style="float:center;text-align:center ">
         <div style="float:center;text-align:center;">
        <table border="1" align='center'>
          <tr>
            <th>Restaurant Name</th><th>Branch</th><th>Assigned Employees</th><th>Order Amount</th><th> Price </th>
            <th>Delivery Charge</th><th>Total Cost</th>
           
          </tr>
          
         
          <tr  align='center'>
          <td>Roof Top</td><td>Gulshan</td><td>3</td>
          <td>15</td><td>2560</td><td>300</td>
          <td>2860</td>
          
          </tr>
		  <tr  align='center'>
          <td>Nanna Biriyani</td><td>Lalbagh</td><td>5</td>
          <td>10</td><td>2000</td><td>200</td>
          <td>2200</td>
          
          </tr>
		  <tr  align='center'>
          <td>Nandos</td><td>Dhanmondi</td><td>1</td>
          <td>2</td><td>1000</td><td>80</td>
          <td>1080</td>
          
          </tr>
		  <tr  align='center'>
          <td>Aftab Restaurant</td><td>Chankharpool</td><td>5</td>
          <td>2</td><td>850</td><td>120</td>
          <td>970</td>
          
          </tr>
		  <tr  align='center'>
          <td>Al Razzak</td><td>Bongshal</td><td>6</td>
          <td>3</td><td>1400</td><td>280</td>
          <td>1680</td>
          
          </tr>
		  <tr  align='center'>
          <td>Korai Goshto</td><td>Jigatola</td><td>10</td>
          <td>4</td><td>2500</td><td>500</td>
          <td>3000</td>
          
          </tr>
		  
          
        </table>
	
</div>

	<div class="message thank-message">
		<p><strong>Total Order : *** </strong></p>
	</div>
	<div class="message thank-message">
		<p><strong>Total Cost : *** </strong></p>
	</div>
	<div class="message error-message">
		<p><strong>Rejected Delivery : *** </strong></p>
	</div>

<div id="footer">
	<p>&copy; designed by suja and dipto.</a></p>
</div>

</body>
</html>